doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        block title
            title Default title

        meta(name="google-site-verification" content="Oov5tipb90Qmq2KGI4sOpRQ1YsnuyuBj1rV7djNKe1Y")
        meta(name="robots" content="all, index, follow, noodp")
        meta(name="revisit-after" content="10 days")
        meta(name="description" content="howtoclearmybrowsercache.com will provide you with tutorials how to refresh (clear) the cache from your browser.")
        meta(name="keywords" content="cache, refresh, force, refreshing, webpages, tutorials, step-by-step, reload, clear browser, internet explorer, firefox, safari, chrome, vivaldi")

        link(href='http://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:600,300' rel='stylesheet' type='text/css')
        link(href="assets/css/combined.min.css" rel="stylesheet" type="text/css")

        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#br" hreflang="br")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#cn" hreflang="cn")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#cz" hreflang="cz")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#de" hreflang="de")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#ee" hreflang="ee")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#en" hreflang="en")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#es" hreflang="es")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#fr" hreflang="fr")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#hu" hreflang="hu")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#it" hreflang="it")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#nl" hreflang="nl")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#pl" hreflang="pl")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#pt" hreflang="pt")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#ru" hreflang="ru")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#si" hreflang="si")
        link(rel="alternate" href="http://howtoclearmybrowsercache.com/#ua" hreflang="ua")

        <!--[if lt IE 9]>
        <script src="assets/js/combined-ie.min.js"></script>
        <script src="assets/js/html5shiv.js"></script>
        <![endif]-->

    body
        include nav.jade

        block content

        include footer.jade