footer.absolute
    .container
        .row
            .col-md-12
                p Made with Love by <a href="//anolilab.de">Anolilab</a>


script(type="text/javascript").
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63317502-1', 'auto');
    ga('send', 'pageview');

script(src="assets/js/combined.min.js")
