header
    section.lang-world-map
        .container
            .row
                .col-md-8
                    img.world-map(src="assets/img/world-map.png")

                .col-md-4
                    ul
                        li
                            a(href="#br").br Brasileiro
                        li
                            a(href="#cn").cn 中文
                        li
                            a(href="#cz").cz Česká republika
                        li
                            a(href="#de").de Deutsch
                        li
                            a(href="#ee").ee Eesti
                        li
                            a(href="#en").en English
                        li
                            a(href="#es").es Español
                        li
                            a(href="#fr").fr Français
                        li
                            a(href="#hu").hu Magyar
                        li
                            a(href="#it").it Italiano
                        li
                            a(href="#nl").nl Nederlands
                        li
                            a(href="#pl").pl Polski
                        li
                            a(href="#pt").pt Português
                        li
                            a(href="#ru").ru Pусский
                        li
                            a(href="#si").si Slovenski
                        li
                            a(href="#ua").ua Українська

    .clearfix

    nav
        a#langtrigger.langlink: i
