extends ./base/base

block title
    title How to clear my browser cache

block content
    main
        .container
            .browser.br(data-query="view(Home)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.br(data-query="view(Br)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.cn(data-query="view(Cn)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.cz(data-query="view(Cz)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.de(data-query="view(De)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.ee(data-query="view(Ee)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.en(data-query="view(En)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.es(data-query="view(Es)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.fr(data-query="view(Fr)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.hu(data-query="view(Hu)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.it(data-query="view(It)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.nl(data-query="view(Nl)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.pl(data-query="view(Pl)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.pt(data-query="view(Pt)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.ru(data-query="view(Ru)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.si(data-query="view(Si)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info

            .browser.ua(data-query="view(Ua)")
                .center
                    h2.text-center
                        i(class="icon {{browser.icon}}")
                        {{browser.name}}
                    .info
                        h1 {{header.title}}
                        p(data-query="html(header.text)")
                        p(data-query="html(header.windows)")
                        p(data-query="html(header.apple)")

                        h3 {{header.subTitle}}

                        ol(data-query="each(list)")
                            li(data-query="html(content)")

                    .extra-info
