html, body {
    height: 100%;
}
body {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;

    strong {
        font-weight: 600;
    }
}

main {
    position: relative;

     &:before {
        display: block;
        position: absolute;
        left: 0;
        top: -85px;
        width: 100%;
        height: 100%;
        content: "";
        background: url('../img/shadow.png') no-repeat center 0;
    }

    .browser {
        color: #fff;

        .center {
              display: block;
              margin: 10% 0 0 0;
              width: 100%;
              height: 20%;

            h2 {
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;

                .icon {
                    display: block;
                    position: relative;
                    width: 120px;
                    height: 100px;
                    margin: 0 auto 35px;
                    background: transparent url(../img/browsers-bg.png) no-repeat;
                    background-size: auto 100px;

                    &.ie {
                        background-position: -200px 0;
                    }

                    &.chrome {
                        background-position: 4px 0;
                    }

                    &.firefox {
                        background-position: -106px 0;
                    }

                    &.safari {
                        background-position: -338px 0;
                    }

                    &.opera {
                        background-position: -453px 0;
                    }

                    &.vivaldi {
                        background-position: -576px 0;
                    }
                }
            }

            .info {
                position: relative;
                z-index: 10;
                margin-top: 10%;
                h3 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    margin-top: 50px;

                    span {
                        text-transform: capitalize;
                    }
                }
                .list {
                    li {
                        padding: 5px 0 5px 0;
                    }
                }
            }
        }
    }
}
