header {
    nav {
        width: 100%;
        height: 50px;
        z-index: 10;
        padding-left: 15px;
        padding-right: 15px;

        ul {
            list-style: none;

            li {
                padding: 0 0 10px 0;
            }
        }

        ul.menu {
            float: left;
            display: none;
            margin-top: 6px;
            position: relative;
            z-index: 10;
            padding-left: 15px;

            li {
                a {
                    font-size: 18px;
                    color: #fff;
                    text-transform: uppercase;
                    text-decoration: none;

                    &:hover {
                        color: rgb(164, 164, 164);
                    }
                }
            }
        }

        .langlink {
            width: 46px;
            height: 30px;
            position: relative;
            z-index: 101;
            float: right;
            cursor: pointer;
            i {
                width: 46px;
                height: 30px;
                display: block;
                background: url(../img/world-map-small.png);
                margin-top: 8px;
            }
        }

        //colors
        $white: #fff;
        $color_delta_approx: #a4a4a4;
        $concrete: #f2f2f2;
        $color_pickled_bluewood_approx: #34495e;

        .nav-button {
            font-size: 1px;
            line-height: 10px;
            position: relative;
            z-index: 10;
            bottom: -10px;
            float: left;
            height: 13px;
            margin-right: 19px;
            vertical-align: text-top;

            .toggle {
                font-size: 1px;
                line-height: 13px;
                position: relative;
                float: left;
                overflow: visible;
                width: 20px;
                height: 13px;
                margin-top: 1px;
                margin-right: 15px;
                margin-left: 15px;
                cursor: pointer;
                .line {
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    overflow: hidden;
                    width: 20px;
                    height: 3px;
                    //Instead of the line below you could use @includetransition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
                    transition-delay: .2s;
                    //Instead of the line below you could use @includetransition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
                    transition-timing-function: cubic-bezier(1, 0, 0, 1);
                    //Instead of the line below you could use @includetransition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
                    transition-duration: .8s;
                    //Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
                    transition-property: transform;
                    background-color: $white;
                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 3px;
                        content: ' ';
                        //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                        transform: scaleX(0);
                        //Instead of the line below you could use @includetransform-origin($origin-x, $origin-y, $origin-z, $only3d)
                        transform-origin: 100% 0;
                        background: $color_delta_approx;
                    }
                    &:nth-child(1) {
                        z-index: 2;
                        top: 0;
                        //Instead of the line below you could use @includetransform-origin($origin-x, $origin-y, $origin-z, $only3d)
                        transform-origin: 0 1.5px;
                        &:after {
                            //Instead of the line below you could use @includetransition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
                            transition-delay: 0;
                            //Instead of the line below you could use @includetransition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
                            transition-timing-function: cubic-bezier(1, 0, 0, 1);
                            //Instead of the line below you could use @includetransition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
                            transition-duration: .4s;
                            //Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
                            transition-property: transform;
                        }
                    }
                    &:nth-child(2) {
                        z-index: 1;
                        top: 5px;
                        //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                        transition: opacity .4s linear .5s;
                        &:after {
                            //Instead of the line below you could use @includetransition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
                            transition-delay: .1s;
                            //Instead of the line below you could use @includetransition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
                            transition-timing-function: cubic-bezier(1, 0, 0, 1);
                            //Instead of the line below you could use @includetransition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
                            transition-duration: .4s;
                            //Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
                            transition-property: transform;
                        }
                    }
                    &:nth-child(3) {
                        z-index: 3;
                        top: 10px;
                        //Instead of the line below you could use @includetransform-origin($origin-x, $origin-y, $origin-z, $only3d)
                        transform-origin: 0 1.5px;
                        &:after {
                            //Instead of the line below you could use @includetransition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
                            transition-delay: .2s;
                            //Instead of the line below you could use @includetransition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
                            transition-timing-function: cubic-bezier(1, 0, 0, 1);
                            //Instead of the line below you could use @includetransition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
                            transition-duration: .4s;
                            //Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
                            transition-property: transform;
                        }
                    }
                }
                &:hover .line:after {
                    width: 100%;
                    //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                    transform: scaleX(1);
                    //Instead of the line below you could use @includetransform-origin($origin-x, $origin-y, $origin-z, $only3d)
                    transform-origin: 0 0;
                }
            }

            &.on .toggle .line {
                &:nth-child(1) {
                    //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                    transform: translateY(-2px) rotate(45deg);
                }
                &:nth-child(2) {
                    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                    transition: opacity .4s linear 0s;
                    opacity: 0;
                }
                &:nth-child(3) {
                    //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                    transform: translateY(2px) rotate(-45deg);
                }
            }
        }

        .menu-trigger {
            font-size: .9em;
            position: relative;
            padding-left: 60px;
            &:before {
                position: absolute;
                top: 2px;
                left: 0;
                width: 40px;
                height: 6px;
                content: '';
                background: $white;
                //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 0 6px $color_pickled_bluewood_approx, 0 12px $white, 0 18px $color_pickled_bluewood_approx, 0 24px $white;
            }
        }

        #trigger {
            cursor: pointer;
            display: block;
            float: left;
            position: relative;

            width: 50px;
            height: 35px;
            margin-left: -15px;
            z-index: 101;
        }
    }

    .lang-world-map {
        @media screen and (min-width: 768px) {
            height: 100%;
        }
        width: 100%;
        z-index: 100;
        position: absolute;
        background: #000;
        display: none;

        @media screen and (min-width: 768px) {
            .container {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 600px;
            }
        }
        @media screen and (max-width: 768px) {
            .container {
                padding-top: 35px;
            }
        }

        & + .clearfix {
            background: #000;
        }

        .world-map {
            width: 100%;
            margin-top: 10%;
            display: block
        }

        ul {
            list-style-type: none;

            li {
                &:first-child {
                    padding-top: 20px;
                }

                padding: 10px 0 10px 0;
                a {
                    color: #fff;
                    font-size: 18px;
                    text-decoration: none;
                    cursor: pointer;
                }

                &:hover {
                    color: rgb(164, 164, 164);
                }

            }
        }
    }
}