footer {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
        &.absolute {
            position: absolute;
            bottom: 0;
        }
    }

    a {
        color: #000;
    }
}